@use "mixins" as m;

.about{
    background: var(--curt) url(../img/bg-about.jpg) no-repeat right bottom;
     @include m.from(lg) {
       position: relative;
       top: -3rem;
  }
    .logos {
    
        img {
            max-width: 107px;
            padding: .5rem;
            opacity: .5;
        }
    }
    .about-texto{
         padding-top: 3rem;
           @include m.from(md) {
    padding-block: 6rem;
  }
    }
    [alt='Dr Curt']{
        position: relative;
        top: 3rem;
          @include m.from(md) {
     top: 6rem;
  }
    }
}



//   @include m.from(xl) {
   
//   }

