body{
    margin: 0;
    padding: 0;
}

.img-block{
    display: flex;
    justify-content: space-around;
    
    padding-block: 30px;
    color: white;
}

.img-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 550px;
    background-image: url(foto.webp);
    border: 2px solid green;
    border-radius: 25px;
    object-fit: cover;
    filter: grayscale(100%);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 0.8s ease-out;
}

.img-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 550px;
    background-image: url(foto-1.webp);
    border: 2px solid green;
    border-radius: 25px;
    object-fit: cover;
    filter: grayscale(100%);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 0.8s ease-out;
}

.img-1:hover{
    filter: grayscale(0%);
     background-size: 150%; 
}

.img-2:hover{
    filter: grayscale(0%);
    background-size: 150%; 
}

@media screen and (max-width: 768px){
    .img-block {
        flex-direction: column;     
        align-items: center;        
        gap: 20px;                  
    }

    .img-1, .img-2 {
        width: 90%;                
        height: 350px;
    }
}