/* Variables */
:root{
    --primary: hsl(0, 0%, 100%);
    --secondary: hsl(342, 92%, 47%);
    --third: hsla(0, 0%, 0%, 1);
    --title: hsl(0, 0%, 75%);
}

/* Fuentes */
@font-face {
    font-family: 'hind-500';
    src: url("../fonts/hind-500.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'hind-600';
    src: url("../fonts/hind-600.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'hind-700';
    src: url("../fonts/hind-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'frederika';
    src: url("../fonts/frederika.woff2") format("woff2");
    font-display: swap;
}

/* Estilos generales */
body{
   font-family: "hind-500", sans-serif;
   font-optical-sizing: auto;
   color: var(--third);
   margin-inline: 25px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.container{
  width: 96%;
  max-width: 1200px;
}

.visually-hidden {
  position: absolute;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Botones */
.btn-cta{
  color: #fff;
  background-color: var(--secondary);
  border-radius: 0.5em;
  padding: 0.5em 1em;
  font-family: 'hind-500';
  font-size: 1em;
  display: inline-block;
  margin-bottom: 15px;
}

button.button-10 {
  touch-action: manipulation;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: 'frederika';
  font-weight: 200;
  color: var(--primary);
  text-transform: uppercase;
  padding: .5em 1.2em;
  background: var(--secondary);
  border: 2px solid #b18597;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.button-10::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--primary);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--secondary), 0 0.625em 0 0 var(--secondary);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.button-10:hover {
  background: #ffe9e9;
  color: var(--secondary);
  transform: translate(0, 0.25em);
}

button.button-10:hover::before {
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  transform: translate3d(0, 0.5em, -1em);
}

button.button-10:active {
  background: #ffe9e9;
  transform: translate(0em, 0.75em);
}

button.button-10:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}

/* Clases de utilidad - Display */
.d-flex{
    display: flex;
    justify-content: space-between;
}

.d-grid{
  display: grid !important;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-between{
  justify-content: space-between;
}

.grid-columns-1{
  grid-template-columns: 1fr;
}

.gap-1{
    gap: 1em;
}

/* Clases de utilidad - Bordes */
.border-bottom-1{
    border-bottom: 1px solid rgb(196, 196, 196);
}

.border-top-1{
    border-top: 1px solid rgb(196, 196, 196);
}

/* Clases de utilidad - Espaciado */
.pt-1{
    padding-top: 1em;
}

/* Clases de utilidad - Visibilidad */
.visible-md{
  display: none;
}

/* Media queries - Utilidades responsive */
@media screen and (min-width: 600px) {
    .dm-d-none {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .visible-md{
        display: block;
    }    
}

@media screen and (min-width: 600px) {
  .grid-columns-md-4 {
    grid-template-columns: repeat(4, 1fr);
  }  
}

@media screen and (min-width: 600px) {
    .pt-md-0{
        padding-top: 0;
    }    
}

@media screen and (min-width: 600px) {
    .border-md-0{
        border: 0 none;
    }    
}

@media screen and (min-width: 600px) {
  .d-md-flex{
    display: flex;
  }  
}

@media screen and (min-width: 600px) {
  .justify-content-md-between{
    justify-content: space-between;
  }  
}

@media screen and (min-width: 600px) {
  .d-md-none{
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .justify-content-between{
    justify-content: space-between;
  }  
}

/* Header */
header{
    border-top: 3px solid var(--secondary);
    padding-block: 4px;
}

@media screen and (min-width: 600px) {
    header{
        border-top: 0 none;
    }    
}

header .telefono::after{
    content: '|';
    margin-left: 1em;
}

header ul{
    list-style: none;
    padding: 5px;
}

header svg{
  height: 1.1em;
  aspect-ratio: 1;
  fill: black;
}

header svg.icon{
  height: 1.2em;
}

header .pre-header a{
  opacity: .70;
  transition: .2s;
}

header .pre-header a:hover{
  opacity: 1;
}

/* Iconos */
.icon-xl{
  height: 1.3em;
}

.btn-search{
  height: 1.2em;
  aspect-ratio: 1;
  fill: var(--secondary);
}

/* Menu toggle (hamburguesa) */
.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: var(--primary);
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    display: block;
}

.menu-toggle {
    cursor: pointer;
}

.menu-toggle.is-active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu-toggle.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Navigation */
nav{
    background: var(--primary);
    padding-block: 1em;
    padding-block: clamp(calc(133px + 2em), 13%);
}

@media screen and (min-width: 600px) {
    nav{
      position: absolute;
      width: 100%;
      background-color: rgb(255 255 255/ .5);
    }
}

@media screen and (min-width: 600px){
  .nav-ul{
   all: initial;
   display: flex;
   gap: 1.5em;
   list-style: none;
 }
  nav ul a{
    align-items: center;
  }
}

nav li {
    padding: 0 15px;
    margin: 0;
    font-family: 'hind-600';
}

nav li a {
    font-weight: 400;
    padding-block: 15px;
    display: flex;
    justify-content: center;
}

nav li a:hover{
    color: var(--secondary);
    transition: 0.3s;
}

@media screen and (min-width: 600px){
    nav li a:hover {
      border-top: var(--secondary) 3px solid;
    }
}

nav ul {
    flex-direction: column;
    position: fixed;
    top: 228px;
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 240px);
    transform: translateX(-101%);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin: 0;
}

body.mobile .nav-ul {
    transform: translateX(0) !important;
}

/* Hero */
.hero{
  font-family: "frederika", sans-serif;
  color: var(--title);
  text-align: center;
  font-size: 1.1em;
  font-weight: 400px;
  background-image: linear-gradient(90deg, rgb(0 0 0/0.3)0%, rgb(0 0 0/0.3)100%), url(../img/familia.jfif);
  background-size: cover;
  padding-top: clamp(calc(133px + 4em), 13%, 13%);
  margin-bottom: 80px;
}

.hero h1{
  margin-top: 0;
}

.hero h1 + p{
  color: var(--primary);
  font-size: 1.rem;
  font-family: "hind-500";
}

/* Ventajas */
.ventajas ul li{
  padding-top: calc(150px + 2em);
  background-repeat: no-repeat;
  background-size: auto 150px;
  background-position: center top;
  text-align: center;
  margin-bottom: 2em;
}

.ventajas .financiacion{
  background-image: url(../img/icono-financiacion.png);
}

.ventajas .sedacion{
  background-image: url(../img/icono-teeth.png);
}

.ventajas .especialistas{
  background-image: url(../img/icono-oso.png);
}

.ventajas .clinica{
  background-image: url(../img/icono-movilidad.png);
}

/* Claim */
.claim{
  background-color: var(--secondary);
  color: #fff;
  font-size: 2em;
  font-family: 'hind-700';
  text-align: center;
  padding-block: 60px;
}