
body {
  font: 1.2em / 1.5 system-ui;
  width: clamp(480px, 70%, 1000px);
  margin-inline: auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    padding: 1em;
}
thead{
    position: sticky;
    top: 0;
    background-color: white;
}
tbody th{
    font-weight: normal;
    text-align: left;
}
tbody td{
    text-align: center
}

tbody > tr:not(:last-of-type) > *{
     border-bottom: 1px solid rgb(217, 217, 217);
}
tbody td[title=Yes]{
    background-image: url(check-solid-full.svg);
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .5;
}
.boton{
    font-size: 1.5rem;
    color: white;
    background-color: #e50914;
    text-decoration: none;
    width: 50%;
    display: block;
    margin-inline: auto;
    border-radius: .25em;
    font-weight: 600;
    transition: 0.3s;
    text-align: center;
    padding-block: 1em;
}
.boton:hover{
    background-color: #f6121d;
}
label{
    background-color: rgb(229 9 20 / 0.4);
    color: white;
    font-weight: normal;
    width: 120px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-line;
    position: relative;
    cursor: pointer;
}
input:checked ~ label::after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid  rgb(229 9 20 / 1);
    position: absolute;
    top: 100%;
}
input:checked ~ label{
    background-color:  rgb(229 9 20 / 1);
}



@media screen and (max-width: 599px){
    tbody th, thead th:first-child{
        display: none;
    }
    tr{
    position: relative;
    height: 3em;
}
    tr:is(.number, .watch, .resolution, .video, .price) td::before {
        content: attr(data-label);
        background: black;
        color: white;
      
    }
    tbody > tr:nth-child(odd) > td{
    border-bottom: 0;
}
    label{
        aspect-ratio: 1.5;
    }
    }
@media screen and (min-width: 599px){
    tbody > tr:nth-child(odd){
        display: none;
    }
}