:root {
  --curt: #03c2d3;
}
body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.btn-section {
  color: var(--curt);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1rem;
}