@use "mixins" as m;

.hero {
  position: relative;
   @include m.from(lg) {
       z-index: 99;
  

   &-texto {
    position: absolute;
    color: white;
    font-size: 1.5rem;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    @include m.from(xl) {
        position: initial;
        color: var(--text-color);
        translate: initial;
    }
    }
    h2 {
      span {
        display: block;
        font-size: 3rem;

        &:first-child {
          font-weight: 400;
        }
        &:nth-child(2) {
          font-weight: 600;
        }
        &:last-child {
          font-weight: 700;
        }
      }
    }
  }

  video {
    width: 100%;
    min-height: 80vh;
    object-fit: cover;
      
   @include m.from(xl) {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  }

}

