@use "mixins" as m;

.speaking {  
    h2{
         @include m.from(lg) {
            margin-top: -300px;
            color: #FFF!important;
         }
    }
    .event-wrapper{
        position: relative;
        z-index: 9999;
.event{
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.21);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    background: #F6F7FA;
    > *{
        padding: 1em;
    }
    time{
        background: white;
        border-radius: inherit;
    }
    &-month{
        font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    font-weight: 800;
    // line-height: 20px;
    text-transform: uppercase;
    color:var(--curt);
    }
    &-day{
        font-size: 3em;
    // line-height: 40px;
    
    }
    
    }
  
  }
 
}

//   @include m.from(xl) {

//   }
