@use "mixins" as m;

.section-white {
    scroll-margin-top: 3em;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.about-text,
.about-image {
  flex: 1; 
}

.about-text p {
  color: var(--oliva);
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
  max-width: 90%;
}
.about-text h2{
 color: var(--oliva);
 margin-bottom: 1.5rem;
}

.about-image {
  height: 500px;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }

  .about-image {
    height: 300px;
  }

  .about-text p {
    max-width: 100%;
  }
}

.about-text{
  padding-inline: 1.5em;
}

    @include m.from(lg) {

  }


