@use "mixins" as m;


.carousel-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.slide-1, .slide-2, .slide-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  gap: 1.5em;
}

.slide-text{
  max-width: 80ch;
}
  
.slide-img {
    max-width: 90%;
    max-height: 350px;
    aspect-ratio: 16/9;
    border: 2px solid var(--oliva);
    border-radius: 25px;
    overflow: hidden;
  }

.products{
  width: 100%;
  background: hsl(93, 15%, 38%);;
  color: hsl(0, 0%, 100%);
  scroll-margin-top: 3em;
  margin-bottom: 3em;
  padding-block: 2em;
}

.products h2{
  padding-inline-start: 3em;
  padding-block-start: 1em;
}

.carousel-control-prev{
  width: initial;
  top: 150px !important;
  left: 100px;
}

.carousel-control-next{
  width: initial;
  top: 150px !important;
  right: 100px;
}


@media (max-width: 992px) {
  .carousel-control-prev{
  left: 5px !important;
}  

.carousel-control-next{
  right: 5px !important;
}

  
  }
  
      @include m.from(lg) {
  
    }
