@use "mixins" as m;

.section-white {
    background-color: var(--background-white);
    scroll-margin-top: 3em;
    
}

.regalo-content {
  display: flex;
  align-items: center;
  gap: 3rem;
  height: 90dvh;
}

.regalo-text,
.regalo-image {
  flex: 1; 
}

.regalo-text p {
  color: var(--oliva);
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
}
.regalo-text h2{
 color: var(--oliva);
 margin-bottom: 1.5rem;
}

.regalo-image {
  height: 500px;
  border-radius: 0.8rem;
  box-shadow: 0 10px 15px -3px #0000001a;
}

.regalo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-btn {
  width: 250px;
  height: 60px;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow: var(--oliva);
  outline: none;
  align-items: center;
}

.custom-btn a{
  color: hsl(42, 39%, 94%);
  padding: 10px 25px !important; //Reparar padding inline//
}

.btn-15 {
  background: var(--oliva);
  border: none;
  z-index: 1;
}
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: hsl(42, 39%, 94%);
  border-radius: 5px;
   box-shadow: var(--oliva);
  transition: all 0.3s;
}
.btn-15 a:hover {
  color: var(--oliva);
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}





// --- Mobile ---
@media (max-width: 768px) {
  .regalo-content {
    flex-direction: column;
    height: auto;
  }

  .regalo-image {
    height: 300px;
  }

  .regalo-text p {
    max-width: 100%;
    padding-inline: 1.5em;
  }
}

.regalo-content h2{
  padding-inline: 1em;
}

    @include m.from(lg) {

  }